* { box-sizing: border-box }
body {
  background: white;
  font-family: 'Cardo', serif;
  font-size: 16px;
}
main {
  width: 530px;
  margin: 0 auto;
}
h1, h2, h3 {
  font-weight: bold;
}
h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  line-height: 1.3em;
}
h2, h3 {
  font-size: 20px;
  padding: 5px 0;
}
h3 {
  font-size: 16px;
}
.title { height: 120px }
.container {
  background-color: #eee;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 50px;
}
.left-content {
  float: left;
  width: 308px;
}
.right-content { float: right }
.keyboard {
  height: 260px;
  float: left;
}
.instructions {
  line-height: 1.3em;
  clear: both;
}
.options {
  width: 160px;
  margin: 0 0 10px;
  font-family: 'Cardo', serif;
  font-weight:bold;
  line-height: 1.5em;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  float: right;
  font-size: 18px;
}
label {
  font-weight: bold;
  line-height: 1.3em;
}
form { height: 130px }
.notif {
  display: inline-block;
  width: 125px;
  margin: 15px 0;
  padding: 0 10px;
  font-weight: bold;
  font-size: 20px;
  clear: both;
}
.notif:after { content: '\00a0' }
.complete {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 50px;
  position: absolute;
  top: 133px;
  padding-left: 40px;
  margin-left: 100%;
  white-space: nowrap;
}
.pre { font-size: 20px }
.controls {
  height: 260px;
  width: 160px;
  float: right;
}
.diff {
  width: 80px;
  float: left;
}
.not {
  width: 80px;
  float: right;
}
.options:hover { background: #ddd }
.disabled {
  background: darkgrey;
  color: grey;
  border-color: grey;
}
.disabled:hover { background: darkgrey }
.black-keys {
  margin-left: 27px;
  position: absolute;
}
li.black:nth-child(3) { margin-left: 42px }
.keys {
  border: 2px solid black;
  border-radius: 3px;
  display: inline-block;
  width: 40px;
  height: 200px;
}
.white-label li {
  display: inline-block;
  margin-top: 3px;
  width: 38px;
  text-align: center;
}
.white-keys li {
  float: left;
  margin: 0 1px;
}
.black-keys li { float: left }
ul.black-label { margin-left: 22px }
.black-label li {
  display: inline-block;
  margin-bottom: 3px;
  width: 40px;
  text-align: center;
}
.black-label li:nth-child(3) { margin-left: 37px }
.white {
  background: white;
  transition: 0.2s ease;
}
.black {
  background: black;
  width: 30px;
  margin-right: 12px;
  height: 110px;
  transition: 0.2s ease;
}
.white:hover { background: #ddd }
.black:hover { background: #555 }
/* ignore the linter. don't separate these or it won't work */
.white.depress {
  background: #83bbdf;
  transition: 0.1s ease;
}
.black.depress {
  background: #83bbdf;
  transition: 0.1s ease;
}
.wrong { border-color: red }
.correct { border-color: white }
.manuscript {
  height: 100px;
  width: 100%;
}
.lines {
  height: 10px;
  border-bottom: 2px solid black;
  width: 100%;
}
.line1 { padding-top: 16px }
.playpos-hide { color: white }
.playpos-top {
  position: absolute;
  top: 106px;
  margin-left: 70px;
}
.playpos-top:before {
  font-size: 20px;
  content: '\25bd';
}
.playpos-top.active:before {
  font-size: 20px;
  color: #83bbdf;
  content: '\25bc';
}
.playpos-top.active.pos-wrong:before { color: red }
.playpos-bottom.active.pos-wrong:before { color: red }
.playpos-bottom {
  position: absolute;
  top: 200px;
  margin-left: 70px;
}
.playpos-bottom:before {
  font-size: 20px;
  content: '\25b3';
}
.playpos-bottom.active:before {
  font-size: 20px;
  color: #83bbdf;
  content: '\25b2';
}
.clef {
  position: absolute;
  font-size: 100px;
  top: 106px;
}
.clef:before { content: '\1d11e' }
.lines:after { content: '\00a0' }
.notes {
  margin-left: 30px;
  position: absolute;
}
.notes li {
  font-size: 48px;
  display: block;
  margin-right: 5px;
  float: left;
  letter-spacing: -15px;
}
.note { margin-right: 5px }
.note:after { content: '\2669' }
.move {
  margin-left: 460px;
  position: absolute;
  clear: left;
  letter-spacing: 40px;
}
.ledger.move { margin-left: 469px }
.flat.move { margin-left: 450px }
.note-correct { color:#83bbdf }
.note-wrong { color: red }
.flat:before {
  content: '\266d';
  font-size: 28px;
}
.b {      padding-top: 1px }
.b-flat { padding-top: 5px  }
.a {      padding-top: 6px  }
.a-flat { padding-top: 10px }
.g {      padding-top: 10px }
.g-flat { padding-top: 14px }
.f {      padding-top: 15px }
.e {      padding-top: 21px }
.e-flat { padding-top: 25px }
.d {      padding-top: 26px }
.d-flat { padding-top: 30px }
.c {      padding-top: 30px }
.ledger {
  margin-left: -29px;
  padding-top: 21px;
}
.ledger:after { content: '_' }
