* {
  box-sizing: border-box;
}
body {
  background: lightgrey;
  font-family: 'Cardo', serif;
  font-size: 16px;
}
.keyboard {
  width: 308px;
  height: 260px;
  float: left;
}
.instructions {
  padding-top: 20px;
  line-height: 1.3em;
  clear: both;
}
.options {
  width: 160px;
  margin: 5px 0;
  font-family: 'Cardo', serif;
  font-weight:bold;
  line-height: 1.5em;
  background-color: white;
  border: 2px solid black;
  border-radius: 3px;
  float: right;
  font-size: 18px;
}
label {
  font-weight: bold;
}
.pre {
  font-size: 25px;
}
.notif {
  margin: 20px 0;
  padding: 0 10px;
  font-weight: bold;
  font-size: 20px;
}
.notif:after {
  content: '\00a0';
}
main {
  width: 530px;
  margin: 100px auto;
}
h1 {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3em;
}
.container {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid black;
}
.controls {
  height: 260px;
  width: 160px;
  float: right;
}
.options:hover {
  background: #ddd;
}
.black-keys {
  margin-left: 26px;
  position: absolute;
}
li.black:nth-child(3) {
  margin-left: 45px;
}
.keys {
  border: 2px solid black;
  border-radius: 3px;
  display: inline-block;
  width: 40px;
  height: 200px;
}
.white-label li {
  display: inline-block;
  margin-top: 3px;
  width: 40px;
  text-align: center;
}
ul.black-label {
  margin-left: 20px;
}
.black-label li {
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 3px;
  width: 40px;
  text-align: center;
}
.black-label li:nth-child(3) {
  margin-left: 35px;
}
.white {
  background: white;
  transition: 0.2s ease;
}
.black {
  background: black;
  width: 30px;
  margin-right: 10px;
  height: 110px;
  transition: 0.2s ease;
}
.white:hover {
  background: #ddd;
}
.black:hover {
  background: #555;
}
/* ignore the linter. don't separate these or it won't work */
.white.depress {
  background: #aaa;
  transition: 0.2s ease;
}
.black.depress {
  background: #555;
  transition: 0.2s ease;
}
